.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #FCEBB6;
  font-family: 'Patrick Hand SC', cursive;
  font-family: 'Droid Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  padding: 30px;
}


.header {
  background-color: lavender;
  border: 5px solid navy;
}

.nav-left {
  background-color: lightgreen;


}

.nav-item {
  font-size: 40px;
}

.sidebar {
  /*display: block;*/
  margin-top: 10px;
  text-align: center;

}

.resource-link {
  font-family: 'Droid Sans', sans-serif;

}

.tile {
  margin-top: 20px;
  height: 200px;
}
