.content {
  background-color: #FCEBB6;
  max-height: 100%;
  font-family: 'Patrick Hand SC', cursive;
  padding: 30px;
}


header {
  background-color: lavender;
  border-bottom: 5px solid navy;
}

.sidebar {
  display: block;

}
